/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 5%;
  border-bottom: 1px solid black;
}
.NavBar h1 {
  margin: 2%;
}
.NavBar nav {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10%;
}
.NavBar nav a {
  text-decoration: none;
  color: black;
}
.Container {
  width: 100%;
}
.Container .Marketing .Advertisement {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.Container .Marketing .Advertisement h2 {
  margin-bottom: 0%;
}
.Container .Marketing .Advertisement ol {
  margin: 0;
}
.Container .Marketing .Advertisement ol li {
  margin: 5% 0%;
}
