/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  font-size: 62.5%;
  background-color: #ddd1c1;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 1.5rem;
}
h1 {
  font-size: 3.6rem;
}
.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0% auto;
  padding-top: 2%;
  border-bottom: 1px solid black;
}
@media (max-width: 500px) {
  .NavBar {
    flex-direction: column;
  }
}
.NavBar h1 {
  margin: 2%;
}
.NavBar .Nav {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .NavBar .Nav {
    margin: 0%;
  }
}
@media (max-width: 500px) {
  .NavBar .Nav {
    flex-direction: column;
  }
}
.NavBar .Nav #SignupButton {
  background: #FFFFFF;
  color: #2d3142;
  height: 1.5rem;
  width: 10rem;
  border: 1px solid #2d3142;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 2%;
}
.NavBar .Nav #SignupButton:hover {
  background: whitesmoke;
  color: #47311e;
  border: 2px solid #47311e;
}
.NavBar .Nav a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
footer {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}
.Container {
  width: 100%;
}
.Container .Marketing {
  margin-top: 5%;
}
.Container .Marketing .CallToAction {
  display: flex;
  justify-content: space-between;
}
.Container .Marketing .CallToAction .Prompt {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 10%;
  margin: 2% auto;
}
@media (max-width: 500px) {
  .Container .Marketing .CallToAction .Prompt {
    margin-left: 13%;
  }
}
.Container .Marketing .CallToAction .Button {
  width: 50%;
  background-color: #2d3142;
  padding: 3%;
  color: #FFFFFF;
  border-radius: 10px;
  outline: none;
  font-size: 1.5rem;
  text-align: center;
}
.Container .Marketing .CallToAction .HoldImage {
  width: 50%;
  margin: auto 0%;
}
@media (max-width: 500px) {
  .Container .Marketing .CallToAction .HoldImage {
    display: none;
  }
}
.Container .Marketing .CallToAction .HoldImage .image {
  max-width: 80%;
  align-content: center;
}
.Container .Marketing .Advertisement {
  text-align: center;
}
.Container .Marketing .Features .Feature1 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .Container .Marketing .Features .Feature1 {
    flex-direction: column;
    align-items: center;
  }
}
.Container .Marketing .Features .Feature1 .HoldImage {
  width: 50%;
  margin: 2% 0%;
}
@media (max-width: 500px) {
  .Container .Marketing .Features .Feature1 .HoldImage {
    width: 100%;
  }
}
.Container .Marketing .Features .Feature1 .HoldImage .image {
  max-width: 100%;
}
.Container .Marketing .Features .Feature1 .Ad1 {
  font-size: 2.5rem;
  margin-left: 5%;
}
.Container .Marketing .Features .Feature2 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .Container .Marketing .Features .Feature2 {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.Container .Marketing .Features .Feature2 .HoldImage {
  width: 50%;
  margin: 2% 0%;
}
@media (max-width: 500px) {
  .Container .Marketing .Features .Feature2 .HoldImage {
    width: 100%;
  }
}
.Container .Marketing .Features .Feature2 .HoldImage .image {
  max-width: 100%;
}
.Container .Marketing .Features .Ad2 {
  font-size: 2.5rem;
  margin-right: 5%;
}
.Container .Marketing .CallToAction2 {
  width: 70%;
  margin: 0% auto;
  text-align: center;
}
.Container .Marketing .CallToAction2 .Button {
  width: 50%;
  background-color: #2d3142;
  padding: 3%;
  color: #FFFFFF;
  border-radius: 10px;
  outline: none;
  font-size: 2rem;
  text-align: center;
}
@media (max-width: 500px) {
  .Container .Marketing .CallToAction2 .Button {
    width: 90%;
    background-color: #2d3142;
    padding: 3%;
    color: #FFFFFF;
    border-radius: 10px;
    outline: none;
    font-size: 2rem;
    text-align: center;
  }
}
