.Container {
    width: 100%;

    @media @phone {
        #NotInMobile {
            display: none;

        }
        .Marketing {
            .Prompt {

                padding: 20%;

                .CenterButton {
                    display: flex;
                    justify-content: center;
    
                }
            }
        }
    }
    .Marketing {

        margin-top: 5%;
        .CallToAction {
            display: flex;
            justify-content: space-between;
            

            .Prompt {

                padding-top: 5%;
                padding-bottom: 5%;
                padding-right: 5%; 
                padding-left: 10%;
                margin: 2% auto;

            }
            .Button {
                // .button(@color, @font_color, @width, @font_size, @padding, @radius)
                .button(@darkblue, @white, 50%, 1.5rem, 3%, 10px);

            }
            .HoldImage {


                width: 80%;

                margin: auto 0%;
                

                .image {
                    max-width:80%;
                    align-content: center;

                }

                
            }
            
        }
        .Advertisement {

            text-align: center;

            
        }
        .Features {
            .Common {
                .FeatureDesktop();
                .HoldImage {
                    .HoldImageDesktop();
                    @media @phone {
                        .HoldImagePhone();
                    }

                    .image {
                        .ImageSize();
                    }
                }
                .Ad {
                    .AdText();
    
                }
            }
            .Feature1 {
                @media @phone {
                    .FeaturePhone(column);
                }
            }
            .Feature2 {
                @media @phone {
                    .FeaturePhone(column-reverse);
                }
            }
            
            
        }
        .CallToAction2 {
            width: 70%;
            margin: 0% auto;
            text-align: center;
            .Button {
                // .button(@color, @font_color, @width, @font_size, @padding, @radius)
                .button(@darkblue, @white, 50%, 2rem, 3%, 10px);
                @media @phone {
                    .button(@darkblue, @white, 90%, 2rem, 3%, 10px);

                }
            }
        }
        

    }
}
