.Container {
    width: 100%;
    // margin-left: 10%;
    // margin-right: 10%;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-content: center;
    @media @phone {
        #NotInMobile {
            display: none;

        }
        .Marketing {
            .Prompt {
                // background-color: orange ;
                // margin-left: 5%;
                padding: 20%;

                .CenterButton {
                    display: flex;
                    justify-content: center;
                    .Button {

                    }
    
                }
            }
        }
    }
    .Marketing {

        margin-top: 5%;
        .CallToAction {
            display: flex;
            justify-content: space-between;
            
            // height: 350px;
            .Prompt {
                // padding: 5%;
                padding-top: 5%;
                padding-bottom: 5%;
                padding-right: 5%; 
                padding-left: 10%;
                margin: 2% auto;
                // @media @phone {
                //     margin-left: 13%;
                // }
                // width: 50%;
                // height: 50%;
            }
            .Button {
                // .button(@color, @font_color, @width, @font_size, @padding, @radius)
                .button(@darkblue, @white, 50%, 1.5rem, 3%, 10px);
                // @media screen {
                    
                // }
            }
            .HoldImage {

                // height: 10%;
                width: 80%;
                // margin: 2% 0%;

                    // width: 50%;
                    margin: auto 0%;
                
                // margin: 2% auto;
                // @media @phone {
                //     display: none;

                // }
                // height:1000px;
                .image {
                    max-width:80%;
                    align-content: center;
                    // max-height: 100%;
                    // height: 300px;
                }
                // .HoldImage {
                //     width: 50%;
                //     margin: 2% 0%;

                    
                //     .image {
                //         .ImageSize();
                //     }
                // }
    
            }
            
        }
        .Advertisement {
            // h2 {
            //     margin: 0% auto;
            // }
            // width: 60%;
            text-align: center;
            // align-items: center;
        
        }
        .Features {

            .Feature1 {
                .FeatureDesktop();
                @media @phone {
                    .FeaturePhone(column);
                }
                .HoldImage {
                    .HoldImageDesktop();
                    @media @phone {
                        .HoldImagePhone();
                    }

                    .image {
                        .ImageSize();
                    }
                }
                .Ad1{

                    .AdText();

                }
            }
            .Feature2 {
                .FeatureDesktop();
                @media @phone {
                    .FeaturePhone(column-reverse);
                }
                .HoldImage {
                    .HoldImageDesktop();
                    @media @phone {
                        .HoldImagePhone();
                    }

                    .image {
                        .ImageSize();
                    }
                }
                .Ad2 {
                    .AdText();
    
                }
            }
            // .Feature3 {
            //     .FeatureDesktop();
            //     @media @phone {
            //         .FeaturePhone(column);
            //     }
            //     .HoldImage {
            //         .HoldImageDesktop();
            //         @media @phone {
            //             .HoldImagePhone();
            //         }

            //         .image {
            //             .ImageSize();
            //         }
            //     }
            //     .Ad2 {
            //         .AdText();
    
            //     }
            // }
            
        }
        .CallToAction2 {
            width: 70%;
            margin: 0% auto;
            text-align: center;
            .Button {
                // .button(@color, @font_color, @width, @font_size, @padding, @radius)
                .button(@darkblue, @white, 50%, 2rem, 3%, 10px);
                @media @phone {
                    .button(@darkblue, @white, 90%, 2rem, 3%, 10px);

                }
            }
        }
        

    }
}
