.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // padding-left: 5%;
    padding-top: 2%;
    border-bottom: 1px solid black;
    @media @phone {
        flex-direction: column;

    }
    h1 {
        margin: 2%;
    }
    // off center
    .Nav {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // margin-right: 10%;
        @media @phone {
            margin: 0%;
        }

        @media @phone {
            flex-direction: column;
        }

        #SignupButton {
            background: @white;
            color: @darkblue;
            height: 1.5rem;
            width: 10rem;
            border: 1px solid @darkblue;
            border-radius: 10px;
            font-size: 2rem;
            font-weight: bold;

            text-align: center;
            padding-top: 1%;
            padding-bottom: 2%;
            &:hover {
                background: whitesmoke;
                color: #47311e;
                border: 2px solid #47311e;
            }
        }
        a {
            text-decoration: none;
            color: black;
            // text-align: center;
            font-size: 1.5rem;

            
        }
        // align-content: center;
    }
}

footer {
    text-align: center;
}